<a href="https://colab.research.google.com/github/Suraj5188/Python-Important-Programs/blob/main/map_reduce_filter_keyword(_%26_).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#function alaising in python

def fun1(name):
  print(f"Hello {name}")
fun2_alaise_name=fun1
print(id(fun1))
print(id(fun2_alaise_name))

fun1("suraj")
fun2_alaise_name("Rachel")

139881037305328
139881037305328
Hello suraj
Hello Rachel

In [ ]:
#function alaising python
def employee(name="suraj"):
  print(f"Employee name is {name}")

company=employee

employee()
company("om")

Employee name is suraj
Employee name is om

In [ ]:
x=lambda n:  print("even") if n%2==0 else print("odd")
x(13)

odd

In [ ]:
#*args in python
def function1(name,*args):
  for item in args:
    print(name)
    print(f"{item}")

list1=['phobe','rachel','chandler','monica','ross']
function1("suraj","om","raj")
print(type(function1))

suraj
om
suraj
raj
<class 'function'>

In [ ]:
#**kwargs in python

def function2(**kwargs):
    for k,v in kwargs.items():
      print(f" {k}: {v} ")

function2(one="rose",two="rachel",three="phobe")

 one: rose
 two: rachel
 three: phobe

In [ ]:
#map function
numbers=[10,20,30,40,50]
square=map(lambda x:x*x,numbers)
print(list(square))

[100, 400, 900, 1600, 2500]

In [ ]:
#map function EX-2
numbers2=["2","4","6","7","8","9"]
result_square=list(map(int,numbers2))
print(result_square)

[2, 4, 6, 7, 8, 9]

# **Filter Function Program EXAMPLE-1**

In [2]:
#filter function
#consider a list
list1=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

#We want only even number from list1
result_even=list(filter(lambda n:n%2==0,list1))
print(result_even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## **Map Function Program Example 1**

In [3]:
#map function program
#We want all numbers should be double in list

#consider a list
list2=[10,20,30,40,50,60,70]

#now we use map function to a list1
result_double=list(map(lambda x:x+x,list2))

print(result_double)

[20, 40, 60, 80, 100, 120, 140]

Map Function Program Example 2

In [11]:
#example 2- To calculate square of each nunber into the list
import math
num=(10,20,30,50,60)
result_square=list(map(lambda x:x*x,num))
print(result_square)

[100, 400, 900, 2500, 3600]

## **Reduce function**

In [13]:
#reduce function
#we want total from list
from functools import reduce
list3=[100,200,300,400,500]
result_total=reduce(lambda a,b:a+b,list3)
print(result_total)

1500